<html>
<head>
    <style>
        {% include "../css/rich-hover.css" %}
    </style>
</head>
</html>
<body>
    <h1>{{ title }}</h1>
    <div class="summary">
        <table>
            <tr>
                <td>State:</td>
                <td>{{ state }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ status }}</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>{{ source }}</td>
            </tr>
            <tr>
                <td>Target:</td>
                <td>{{ target }}</td>
            </tr>
        </table>
    </div>
    <div>
        <div class="description">{{ description }}</div>
    </div>
</body>
</html>
